/* CORE ITEMS  */
*{
    font-family: 'Inika', serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: white;
}

main{
    margin: 0;
}

/* HEADER CONTENT */
.navbar-logo img {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px;
}

.navbar-logo h2 {
    color: #011B28;
    margin-left: 50px;
}


.navbar-buttons a {
    text-decoration: none;
    color: #011B28;
    font-size: 25px;
    cursor: pointer;
}

.navbar-buttons a:hover{
    color: #ffffff;
}

header {
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 50px;
}

.navbar-buttons, .navbar-logo{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(243, 251, 253);
    font-family: 'Saira', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px black;
    margin: 0;
}

.containerHeight{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* List in nav bar */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 50px;
}

/* TOUR PAGES */
.centerImage {
    display: flex;
    justify-content: space-between;
}

/* added these together for font color */
h2, h3, p {
    color: #0074A7;
}

.containerText h2, h3, p{
    margin: 0;
}

.containerText{
    margin-top: 60px;
}

h3 {
    font-size: 25px;
    margin-top: 0; 
    letter-spacing: 7px;
}

h2 {
    font-size: 40px;
    margin-top: 30px; 
    letter-spacing: 3px;
}

p {
    width: 625px;
    margin-top: 10px;
    font-size: 13pt;
}

/* Book Tours buttons */
button {
    transition-duration: 0.2s;
    border-radius: 12px;
    font-size: 20px;
    background-color: #0074A7;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .buttonAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
button:hover {
    background-color: #db6d13; 
  }


/* FOOTER */
footer {
    background-color: #0074A7;
    padding: 40px;
    /*margin-top: 50px;*/
}

.footerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footerText h3{
    color: #D1E5EB;
    letter-spacing: 2px;
    padding: 20px 0;
}

.footerLinks li{
    display: inline-block;
    color: #D1E5EB;
}

.socialMedia a{
    color: #D1E5EB;
    font-size: 50px;
}

.socialMedia ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.socialMedia li{
    padding: 0 15px;
}


/*Flexboxes for main section*/
.mainBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topBox {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 200px;
    justify-content: center;
}

.bottomBox {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
}

.iconBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
}

.icons {
    display: flex;
    align-items: flex-start;
    max-width: 100px;
    color: #0074A7;
    font-size: 80px;
}

.iconsAndText{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

.iconsAndText p {
    color: 0074A7;
    margin: 0;
    width: auto;
}

/* ??
.imgBox {
    align-items: end;
}*/

.topBox2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
    /*background-color: #c8dee9;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(236,236,236,1) 100%);
*/
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(155,211,236,0.700717787114846) 100%);
    padding: 30px;
}