/* CORE ITEMS  */
*{
    font-family: 'Inika', serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

main{
    margin: 0 10rem;
}

/*2 columns grid in the main section  */
.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    border: #011B28;
    border-style: dotted;
}

/* HEADER CONTENT */
.navbar-logo img {
    display: block;
    width: 100px;
    height: 100px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.navbar-logo h2 {
    color: #011B28;
    margin-left: 50px;
}

.navbar-buttons a {
    text-decoration: none;
    color: #011B28;
    font-size: 20px;
}

header {
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 40px;
}

.navbar-buttons, .navbar-logo{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: 'Saira', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px black;
}

/* List in nav bar */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 50px;
}

/* TOUR PAGES */
.centerImage {
    display: flex;
    justify-content: flex-start;
}
/* added these together for font color */
h2, h3, p {
    color: #0074A7;
}

h3 {
    margin: 0;
}

.centerText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

/* icons */
.iconsALignmentHIKE {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.iconsAlignmentCAVE {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    max-width: 400px;
}

.icons {
    display: flex;
    align-items: flex-start;
    max-width: 30px;
    max-width: 30px;
    color: #0074A7;
    font-size: 70px;
}

.iconsAndText{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.iconText {
    color: #0074A7;
    font-size: 1 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* Book Tours buttons */
button {
    transition-duration: 0.2s;
    border-radius: 12px;
    font-size: 20px;
    background-color: #0074A7;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px;
  }
  
  button:hover {
    background-color: #db6d13; 
  }


/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #0074A7;
    padding: 40px;
}


.socialMedia{
    color: #D1E5EB;
    font-size: 40px;
}
